<!DOCTYPE html>
<html>
<head>
  <title>Cropper</title>
  <%= stylesheet_link_tag    "cropper/application", :media => "all" %>
  <%= javascript_include_tag "cropper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
